.navbar {
    height: 6.5rem;
    width: 100vw;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #627a55;
    color: #eae0d5;
}

.logo {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    margin-left: 0;
}

.desktopMenu {
    display: flex;
    align-items: center;
    margin-right: 6rem;
}

.desktopMenuListItem {
    margin: 0 2rem;
    cursor: pointer;
    padding-bottom: 0.5rem;
    transition: border-bottom 0.3s ease-in-out;
}

.desktopMenuListItem:hover {
    border-bottom: 3px solid #eae0d5;
}

.active {
    border-bottom: 3px solid #eae0d5;
}
